@tailwind base;
@tailwind components;
@tailwind utilities;


.skills-container {
  padding: 20px; /* Adjust the padding as per your requirement */
}

.tile {
  background: #1d1836;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.section {
  margin-bottom: 50px;
  
} 


.btn {
  width: 345px;
  height: 50px;
}

.btn1 a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    92.23deg,
    #b17bec 21.43%,
    #805acd 50.63%,
    #1b85c7 100%,
    #0e0a1d 117.04%
    );
  border-radius: 8px;
  font-size: 20px;
  color:white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn a:hover{
  background: aqua;
}

.btn2 a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 20px;
  color:white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn3 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  background: linear-gradient(
    92.23deg,
    #b17bec 21.43%,
    #805acd 50.63%,
    #1b85c7 100%,
    #0e0a1d 117.04%
    );
  border-radius: 8px;
  font-size: 20px;
  color:white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.skill-icon {
  margin: 10px;
}

.bg-site1{
  background: linear-gradient(to top left, navy, rgba(128, 0, 128, 0), gray), linear-gradient(to top right, purple, rgba(128, 0, 128, 0), white);

  width:100%;
  height:100%;  
  }

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-bold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
} 